---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Canopryx"
  description="Canopryx engineers resilient, high-fidelity security infrastructure for the modern enterprise."
>
  <SiteHeader />

  <main>
    <Hero />
  </main>

  <SiteFooter noMargin={true} />
</BaseLayout>
