---
import BaseLayout from "../layouts/BaseLayout.astro";
import SiteHeader from "../components/SiteHeader.astro";
import SiteFooter from "../components/SiteFooter.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="Olvara Labs"
  description="Olvara Labs - A cybersecurity platform engineering resilient, high-fidelity security frameworks for the modern enterprise."
>
  <SiteHeader />

  <main>
    <Hero />
  </main>

  <SiteFooter noMargin={true} />
</BaseLayout>
